colorama==0.4.4
matplotlib==3.3.3
numpy==1.19.4
pandas==1.2.4
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
python-dateutil==2.8.1
sanic==21.3.4
scipy==1.5.4
websockets==8.1



pip --trusted-host pypi.python.org install coloma -i http://pypi.doubanio.com/simple/
pip3 install colorma==0.4.4 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com